In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel(io='/content/df.xlsx')
df

,uid,source_id,source_year,group,author,title,century,genre,type,sort,...,oblig_title,grade,section,number_authors,number_titles,profound,by_heart,source_issue,title_cycle,notes
0,2_074_1_1,1974 ПВСШ 4–10,1974–1975,inapp,Неизвестный автор,Иван — крестьянский сын и чудо-юдо,inapp,проза,отечественная,фольклор,...,1,4,inapp,inapp,1,0,0,I,inapp,inapp
1,2_074_1_2,1974 ПВСШ 4–10,1974–1975,inapp,Неизвестный автор,Царевна-лягушка,inapp,проза,отечественная,фольклор,...,1,4,inapp,inapp,1,0,0,I,inapp,inapp
2,2_074_1_3,1974 ПВСШ 4–10,1974–1975,inapp,Неизвестный автор,Произведения по выбору,inapp,проза,отечественная,фольклор,...,inapp,4,inapp,inapp,inapp,0,0,I,inapp,Загадки по выбору
3,2_074_1_4,1974 ПВСШ 4–10,1974–1975,inapp,Неизвестный автор,Произведения по выбору,inapp,проза,отечественная,фольклор,...,inapp,4,inapp,inapp,inapp,0,0,I,inapp,Пословицы и поговорки по выбору
4,2_074_1_5,1974 ПВСШ 4–10,1974–1975,inapp,Пушкин А. С.,Руслан и Людмила,19,поэзия,отечественная,художественная,...,1,4,inapp,1,1,0,1,II,inapp,Отрывок «У лукоморья дуб зеленый…»
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14435,5_024_4_251,2024 ФРП 10–11,2024–2025,5_024_36,Шоу Б.,Пигмалион,20,проза,зарубежная,художественная,...,1,11,inapp,1,1,0,0,Зарубежная литература,inapp,Не менее 1 произведения зарубежной драматургии...
14436,4_098_1_1,1998 ОМ 5–9,1998–1999,inapp,Пушкин А. С.,Произведения по выбору,19,проза,отечественная,художественная,...,0,5–9,inapp,1,inapp,0,0,Из литературы XIX века,Повести покойного Ивана Петровича Белкина,«Повести Белкина» по выбору
14437,4_098_1_2,1998 ОМ 5–9,1998–1999,inapp,Гоголь Н. В.,Произведения по выбору,19,проза,отечественная,художественная,...,0,5–9,inapp,1,inapp,0,0,Из литературы XIX века,Вечера на хуторе близ Диканьки,Повести из «Вечеров на хуторе близ Диканьки» п...
14438,4_098_1_3,1998 ОМ 5–9,1998–1999,inapp,Тургенев И. С.,Произведения по выбору,19,проза,отечественная,художественная,...,0,5–9,inapp,1,inapp,0,0,Из литературы XIX века,Записки охотника,Рассказы из «Записок охотника» по выбору
14439,4_098_1_4,1999 ОМ 10–11,1998–1999,inapp,Пушкин А. С.,Произведения по выбору,19,поэзия,отечественная,художественная,...,0,10–11,inapp,1,inapp,0,0,Из литературы конца XVIII — первой половины XI...,Маленькие трагедии,«Маленькие трагедии» по выбору

**СЛОВАРЬ ПРОГРАММ**

In [ ]:
dictionary_programs = year_count.to_dict ()
dictionary_programs

{'1974–1975': 569,
 '1979–1980': 586,
 '1982–1983': 974,
 '1984–1985': 947,
 '1986–1987': 996,
 '1988–1989': 1000,
 '1991': 1156,
 '1992': 971,
 '1994': 886,
 '1995': 804,
 '1997': 1145,
 '1998–1999': 411,
 '2004': 628,
 '2015–2016': 1022,
 '2021–2022': 387,
 '2022–2023': 671,
 '2023–2024': 667,
 '2024–2025': 620}

**1. Общее количество строк в динамике**

In [ ]:
# Подсчет количества произведений за каждый год
year_count = df['source_year'].value_counts().sort_index()
year_count

1974–1975     569
1979–1980     586
1982–1983     974
1984–1985     947
1986–1987     996
1988–1989    1000
1991         1156
1992          971
1994          886
1995          804
1997         1145
1998–1999     411
2004          628
2015–2016    1022
2021–2022     387
2022–2023     671
2023–2024     667
2024–2025     620
Name: source_year, dtype: int64

In [ ]:
#percentage
percentage = ((year_count / year_count.sum()) * 100).round(1)
percentage

1974–1975    3.9
1979–1980    4.1
1982–1983    6.7
1984–1985    6.6
1986–1987    6.9
1988–1989    6.9
1991         8.0
1992         6.7
1994         6.1
1995         5.6
1997         7.9
1998–1999    2.8
2004         4.3
2015–2016    7.1
2021–2022    2.7
2022–2023    4.6
2023–2024    4.6
2024–2025    4.3
Name: source_year, dtype: float64

In [ ]:
# Объединение результатов в один DataFrame
result = pd.DataFrame({
    'source_year': year_count.index,
    'Count': year_count.values,
    'Percentage': percentage.values
})

result.set_index('source_year').T

source_year,1974–1975,1979–1980,1982–1983,1984–1985,1986–1987,1988–1989,1991,1992,1994,1995,1997,1998–1999,2004,2015–2016,2021–2022,2022–2023,2023–2024,2024–2025
Count,569.0,586.0,974.0,947.0,996.0,1000.0,1156.0,971.0,886.0,804.0,1145.0,411.0,628.0,1022.0,387.0,671.0,667.0,620.0
Percentage,3.9,4.1,6.7,6.6,6.9,6.9,8.0,6.7,6.1,5.6,7.9,2.8,4.3,7.1,2.7,4.6,4.6,4.3

**2. Соотношение поэзия/проза/inapp в динамике.**

In [ ]:
categories_2 = df['genre'].unique().tolist()
categories_2

['проза', 'поэзия', 'inapp']

In [ ]:
res_df_2 = pd.DataFrame(columns=['source_year'] + categories_2)

for i in dictionary_programs:
    count_dict = {category: 0 for category in categories_2}
    for index, row in df.iterrows():
        if row['source_year'] == i and row['genre'] in count_dict:
            count_dict[row['genre']] += 1

    res_df_2.loc[len(res_df_2)] = [i] + [count_dict[category] for category in categories_2]
res_df_2.set_index('source_year').T

source_year,1974–1975,1979–1980,1982–1983,1984–1985,1986–1987,1988–1989,1991,1992,1994,1995,1997,1998–1999,2004,2015–2016,2021–2022,2022–2023,2023–2024,2024–2025
проза,272,280,634,615,619,620,605,574,470,376,558,138,252,485,194,328,324,278
поэзия,296,305,335,327,372,375,544,390,409,420,587,270,355,523,185,337,335,334
inapp,1,1,5,5,5,5,7,7,7,8,0,3,21,14,8,6,8,8

In [ ]:
#percentage
res_df_2_percentage = pd.DataFrame(columns=['source_year'] + categories_2)

for i in dictionary_programs:
    count_dict = {category: 0 for category in categories_2}
    for index, row in df.iterrows():
        if row['source_year'] == i and row['genre'] in count_dict:
            count_dict[row['genre']] += 1

    total_count = sum(count_dict.values())

    # Если total_count не равен 0, считаем проценты, иначе ставим 0
    percentages_2 = [round(count / total_count * 100, 1) if total_count > 0 else 0 for count in count_dict.values()]

    res_df_2_percentage.loc[len(res_df_2_percentage)] = [i] + percentages_2
res_df_2_percentage.set_index('source_year').T

source_year,1974–1975,1979–1980,1982–1983,1984–1985,1986–1987,1988–1989,1991,1992,1994,1995,1997,1998–1999,2004,2015–2016,2021–2022,2022–2023,2023–2024,2024–2025
проза,47.8,47.8,65.1,64.9,62.1,62.0,52.3,59.1,53.0,46.8,48.7,33.6,40.1,47.5,50.1,48.9,48.6,44.8
поэзия,52.0,52.0,34.4,34.5,37.3,37.5,47.1,40.2,46.2,52.2,51.3,65.7,56.5,51.2,47.8,50.2,50.2,53.9
inapp,0.2,0.2,0.5,0.5,0.5,0.5,0.6,0.7,0.8,1.0,0.0,0.7,3.3,1.4,2.1,0.9,1.2,1.3

**3. Соотношение отечественная/зарубежная/inapp в динамике.**

In [ ]:
categories_3 = df['type'].unique().tolist()
categories_3

['отечественная', 'зарубежная', 'inapp']

In [ ]:
res_df_3 = pd.DataFrame(columns=['source_year'] + categories_3)

for i in dictionary_programs:
    count_dict = {category: 0 for category in categories_3}
    for index, row in df.iterrows():
         if row['source_year'] == i and row['type'] in count_dict:
            count_dict[row['type']] += 1


    res_df_3.loc[len(res_df_3)] = [i] + [count_dict[category] for category in categories_3]
res_df_3.set_index('source_year').T

source_year,1974–1975,1979–1980,1982–1983,1984–1985,1986–1987,1988–1989,1991,1992,1994,1995,1997,1998–1999,2004,2015–2016,2021–2022,2022–2023,2023–2024,2024–2025
отечественная,524,540,860,831,879,889,1071,740,808,720,1036,392,515,897,321,575,573,544
зарубежная,45,46,113,115,116,111,79,227,75,81,109,19,113,125,62,92,90,73
inapp,0,0,1,1,1,0,6,4,3,3,0,0,0,0,4,4,4,3

In [ ]:
#percentage
res_df_3_percentage = pd.DataFrame(columns=['source_year'] + categories_3)

for i in dictionary_programs:
    count_dict = {category: 0 for category in categories_3}
    for index, row in df.iterrows():
         if row['source_year'] == i and row['type'] in count_dict:
            count_dict[row['type']] += 1

    total_count = sum(count_dict.values())

    # Если total_count не равен 0, считаем проценты, иначе ставим 0
    percentages_3 = [round(count / total_count * 100, 1) if total_count > 0 else 0 for count in count_dict.values()]

    res_df_3_percentage.loc[len(res_df_3_percentage)] = [i] + percentages_3
res_df_3_percentage.set_index('source_year').T

source_year,1974–1975,1979–1980,1982–1983,1984–1985,1986–1987,1988–1989,1991,1992,1994,1995,1997,1998–1999,2004,2015–2016,2021–2022,2022–2023,2023–2024,2024–2025
отечественная,92.1,92.2,88.3,87.8,88.3,88.9,92.6,76.2,91.2,89.6,90.5,95.4,82.0,87.8,82.9,85.7,85.9,87.7
зарубежная,7.9,7.8,11.6,12.1,11.6,11.1,6.8,23.4,8.5,10.1,9.5,4.6,18.0,12.2,16.0,13.7,13.5,11.8
inapp,0.0,0.0,0.1,0.1,0.1,0.0,0.5,0.4,0.3,0.4,0.0,0.0,0.0,0.0,1.0,0.6,0.6,0.5

**4. Соотношение переводного/непереводного в динамике.**

In [ ]:
categories_4 = df['translated'].unique().tolist()
categories_4

['0', '1', 'inapp']

In [ ]:
res_df_4 = pd.DataFrame(columns=['source_year'] + categories_4)

for i in dictionary_programs:
    count_dict = {category: 0 for category in categories_4}

    for index, row in df.iterrows():
        if row['source_year'] == i and row['translated'] in count_dict:
            count_dict[row['translated']] += 1

    res_df_4.loc[len(res_df_4)] = [i] + [count_dict[category] for category in categories_4]
res_df_4.set_index('source_year').T

source_year,1974–1975,1979–1980,1982–1983,1984–1985,1986–1987,1988–1989,1991,1992,1994,1995,1997,1998–1999,2004,2015–2016,2021–2022,2022–2023,2023–2024,2024–2025
0,461,475,792,768,815,824,1054,727,795,717,1031,390,486,883,314,555,555,526
1,106,109,180,177,179,174,98,241,90,87,114,19,134,136,67,108,103,88
inapp,2,2,2,2,2,2,4,3,1,0,0,2,8,3,6,8,9,6

In [ ]:
#percentage

res_df_4_percentage = pd.DataFrame(columns=['source_year'] + categories_4)

for i in dictionary_programs:
    count_dict = {category: 0 for category in categories_4}

    for index, row in df.iterrows():
        if row['source_year'] == i and row['translated'] in count_dict:
            count_dict[row['translated']] += 1

    total_count = sum(count_dict.values())

    # Если total_count не равен 0, считаем проценты, иначе ставим 0
    percentages_4 = [round(count / total_count * 100, 1) if total_count > 0 else 0 for count in count_dict.values()]

    res_df_4_percentage.loc[len(res_df_4_percentage)] = [i] + percentages_4
res_df_4_percentage.set_index('source_year').T

source_year,1974–1975,1979–1980,1982–1983,1984–1985,1986–1987,1988–1989,1991,1992,1994,1995,1997,1998–1999,2004,2015–2016,2021–2022,2022–2023,2023–2024,2024–2025
0,81.0,81.1,81.3,81.1,81.8,82.4,91.2,74.9,89.7,89.2,90.0,94.9,77.4,86.4,81.1,82.7,83.2,84.8
1,18.6,18.6,18.5,18.7,18.0,17.4,8.5,24.8,10.2,10.8,10.0,4.6,21.3,13.3,17.3,16.1,15.4,14.2
inapp,0.4,0.3,0.2,0.2,0.2,0.2,0.3,0.3,0.1,0.0,0.0,0.5,1.3,0.3,1.6,1.2,1.3,1.0

**5. Соотношение параметров sort в динамике.**

In [ ]:
categories_5 = df['sort'].unique().tolist()
categories_5

['фольклор',
 'художественная',
 'публицистика',
 'критика',
 'мемуары и переписка',
 'inapp']

In [ ]:
res_df_5 = pd.DataFrame(columns=['source_year'] + categories_5)

for i in dictionary_programs:
    count_dict = {category: 0 for category in categories_5}

    for index, row in df.iterrows():
        if row['source_year'] == i and row['sort'] in count_dict:
            count_dict[row['sort']] += 1

    res_df_5.loc[len(res_df_5)] = [i] + [count_dict[category] for category in categories_5]

res_df_5.set_index('source_year').T

source_year,1974–1975,1979–1980,1982–1983,1984–1985,1986–1987,1988–1989,1991,1992,1994,1995,1997,1998–1999,2004,2015–2016,2021–2022,2022–2023,2023–2024,2024–2025
фольклор,15,15,8,8,12,10,28,23,27,39,43,4,8,1,6,6,7,8
художественная,532,546,929,908,952,958,1067,925,804,707,1063,405,610,1004,377,659,655,607
публицистика,12,15,18,18,19,19,35,21,41,36,22,2,5,9,2,2,2,2
критика,8,8,11,9,9,9,16,1,8,17,14,0,3,4,0,0,0,0
мемуары и переписка,2,2,8,4,4,4,4,0,3,2,3,0,0,2,0,1,1,1
inapp,0,0,0,0,0,0,6,1,3,3,0,0,2,2,2,3,2,2

In [ ]:
#percentage
res_df_5_percentage = pd.DataFrame(columns=['source_year'] + categories_5)

for i in dictionary_programs:
    count_dict = {category: 0 for category in categories_5}

    # Подсчитываем количество для каждой категории
    for index, row in df.iterrows():
        if row['source_year'] == i and row['sort'] in count_dict:
            count_dict[row['sort']] += 1

    total_count = sum(count_dict.values())

    # Если total_count не равен 0, считаем проценты, иначе ставим 0
    percentages_5 = [round(count / total_count * 100, 1) if total_count > 0 else 0 for count in count_dict.values()]

    res_df_5_percentage.loc[len(res_df_5_percentage)] = [i] + percentages_5

res_df_5_percentage.set_index('source_year').T

source_year,1974–1975,1979–1980,1982–1983,1984–1985,1986–1987,1988–1989,1991,1992,1994,1995,1997,1998–1999,2004,2015–2016,2021–2022,2022–2023,2023–2024,2024–2025
фольклор,2.6,2.6,0.8,0.8,1.2,1.0,2.4,2.4,3.0,4.9,3.8,1.0,1.3,0.1,1.6,0.9,1.0,1.3
художественная,93.5,93.2,95.4,95.9,95.6,95.8,92.3,95.3,90.7,87.9,92.8,98.5,97.1,98.2,97.4,98.2,98.2,97.9
публицистика,2.1,2.6,1.8,1.9,1.9,1.9,3.0,2.2,4.6,4.5,1.9,0.5,0.8,0.9,0.5,0.3,0.3,0.3
критика,1.4,1.4,1.1,1.0,0.9,0.9,1.4,0.1,0.9,2.1,1.2,0.0,0.5,0.4,0.0,0.0,0.0,0.0
мемуары и переписка,0.4,0.3,0.8,0.4,0.4,0.4,0.3,0.0,0.3,0.2,0.3,0.0,0.0,0.2,0.0,0.1,0.1,0.2
inapp,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.1,0.3,0.4,0.0,0.0,0.3,0.2,0.5,0.4,0.3,0.3

**6. Соотношение параметров century в динамике (отдельно числа для каждого параметра + по группам: до 5 века включительно, 6–17, 17–18, 18, 18–19, 19, 19–20, 20, 20–21, другое).**

In [ ]:
categories_6_not_sorted = df['century'].unique().tolist()
categories_6_not_sorted

['inapp',
 '19',
 '20',
 '13–16',
 '-8–7',
 '17',
 '18–19',
 '19–20',
 '20–21',
 '18',
 '12',
 '16–17',
 '16',
 '-5',
 '11',
 '14',
 '13',
 '14–15',
 '15',
 '12–13',
 '-6',
 '6',
 '-9–8',
 '17–18',
 '12–14',
 '21',
 '-7–5',
 '19–21',
 '11–17']

In [ ]:
categories_6 = ['-9–8','-8–7','-7–5','-6','-5','6','11','11–17','12','12–13','12–14','13','13–16','14','14–15','15',
                '16','16–17','17','17–18','18','18–19','19','19–20','19–21','20','20–21','21','inapp']

In [ ]:
#part_1

res_df_6 = pd.DataFrame(columns=['source_year'] + categories_6)
for i in dictionary_programs:
    count_dict = {category: 0 for category in categories_6}

    for index, row in df.iterrows():
        if row['source_year'] == i and row['century'] in count_dict:
            count_dict[row['century']] += 1


    res_df_6.loc[len(res_df_6)] = [i] + [count_dict[category] for category in categories_6]

res_df_6.set_index('source_year').T

source_year,1974–1975,1979–1980,1982–1983,1984–1985,1986–1987,1988–1989,1991,1992,1994,1995,1997,1998–1999,2004,2015–2016,2021–2022,2022–2023,2023–2024,2024–2025
-9–8,0,0,0,0,0,0,0,0,0,1,0,0,1,1,1,1,1,1
-8–7,1,1,1,1,1,1,1,1,0,0,0,1,1,1,1,1,1,1
-7–5,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
-6,0,0,0,0,0,0,0,1,0,3,0,0,0,0,0,0,0,0
-5,0,0,0,0,0,0,2,0,2,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,1,3,1,2,1,2,0,1,1,1,1,1
11–17,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1
12,2,2,3,3,3,3,4,3,4,2,2,2,1,1,2,2,2,3
12–13,0,0,0,0,0,0,0,2,0,0,0,0,0,0,1,1,1,1
12–14,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
13,0,0,0,0,0,0,1,1,1,0,2,0,0,0,0,0,0,0
13–16,1,1,1,1,1,1,0,1,0,0,1,0,0,1,0,0,0,0
14,0,0,0,0,0,0,1,2,1,1,0,0,1,1,1,1,1,1
14–15,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,1,0,1,1,0,1,1,1,1,1,1
16,3,3,3,3,3,3,3,0,2,3,2,2,1,7,3,3,3,3
16–17,1,1,1,1,1,1,1,1,1,0,1,1,2,2,2,2,2,2
17,4,4,4,4,4,4,5,9,4,3,3,3,2,4,3,3,3,3
17–18,0,0,0,0,0,0,0,0,0,1,1,0,1,1,0,0,0,0
18,10,8,10,10,9,9,18,38,18,15,20,12,6,12,8,8,8,10
18–19,3,5,10,10,10,10,4,8,2,0,4,1,9,4,3,3,4,5
19,213,211,329,326,338,336,370,422,316,375,478,224,237,346,179,233,232,232
19–20,13,15,28,28,31,29,21,5,13,6,10,6,43,34,9,17,17,15
19–21,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,3,0,0
20,297,314,558,534,559,569,674,424,480,345,570,152,280,538,120,322,321,293
20–21,4,4,6,6,6,6,14,10,10,0,1,0,33,39,31,46,42,29
21,0,0,0,0,0,0,0,0,0,0,1,0,0,20,8,10,10,2
inapp,17,17,20,20,30,28,35,37,30,45,46,5,8,5,12,12,16,16

In [ ]:
#percentages

res_df_6_percentages = pd.DataFrame(columns=['source_year'] + categories_6)
for i in dictionary_programs:
    count_dict = {category: 0 for category in categories_6}

    for index, row in df.iterrows():
        if row['source_year'] == i and row['century'] in count_dict:
            count_dict[row['century']] += 1

    total_count = sum(count_dict.values())

     # Если total_count не равен 0, считаем проценты, иначе ставим 0
    percentages_6 = [round(count / total_count * 100, 1) if total_count > 0 else 0 for count in count_dict.values()]


    res_df_6_percentages.loc[len(res_df_6_percentages)] = [i] + percentages_6

res_df_6_percentages.set_index('source_year').T

source_year,1974–1975,1979–1980,1982–1983,1984–1985,1986–1987,1988–1989,1991,1992,1994,1995,1997,1998–1999,2004,2015–2016,2021–2022,2022–2023,2023–2024,2024–2025
-9–8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.0,0.0,0.2,0.1,0.3,0.1,0.1,0.2
-8–7,0.2,0.2,0.1,0.1,0.1,0.1,0.1,0.1,0.0,0.0,0.0,0.2,0.2,0.1,0.3,0.1,0.1,0.2
-7–5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0
-6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.0,0.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-5,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.3,0.1,0.2,0.1,0.5,0.0,0.1,0.3,0.1,0.1,0.2
11–17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.3,0.1,0.1,0.2
12,0.4,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.5,0.2,0.2,0.5,0.2,0.1,0.5,0.3,0.3,0.5
12–13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.3,0.1,0.1,0.2
12–14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.1,0.1,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13–16,0.2,0.2,0.1,0.1,0.1,0.1,0.0,0.1,0.0,0.0,0.1,0.0,0.0,0.1,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.2,0.1,0.1,0.0,0.0,0.2,0.1,0.3,0.1,0.1,0.2
14–15,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.1,0.1,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.0,0.1,0.1,0.0,0.2,0.1,0.3,0.1,0.1,0.2
16,0.5,0.5,0.3,0.3,0.3,0.3,0.3,0.0,0.2,0.4,0.2,0.5,0.2,0.7,0.8,0.4,0.4,0.5
16–17,0.2,0.2,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.0,0.1,0.2,0.3,0.2,0.5,0.3,0.3,0.3
17,0.7,0.7,0.4,0.4,0.4,0.4,0.4,0.9,0.5,0.4,0.3,0.7,0.3,0.4,0.8,0.4,0.4,0.5
17–18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.1,0.0,0.2,0.1,0.0,0.0,0.0,0.0
18,1.8,1.4,1.0,1.1,0.9,0.9,1.6,3.9,2.0,1.9,1.7,2.9,1.0,1.2,2.1,1.2,1.2,1.6
18–19,0.5,0.9,1.0,1.1,1.0,1.0,0.3,0.8,0.2,0.0,0.3,0.2,1.4,0.4,0.8,0.4,0.6,0.8
19,37.4,36.0,33.8,34.4,33.9,33.6,32.0,43.5,35.7,46.6,41.7,54.5,37.7,33.9,46.3,34.7,34.8,37.4
19–20,2.3,2.6,2.9,3.0,3.1,2.9,1.8,0.5,1.5,0.7,0.9,1.5,6.8,3.3,2.3,2.5,2.5,2.4
19–21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.0,0.0
20,52.2,53.6,57.3,56.4,56.1,56.9,58.3,43.7,54.2,42.9,49.8,37.0,44.6,52.6,31.0,48.0,48.1,47.3
20–21,0.7,0.7,0.6,0.6,0.6,0.6,1.2,1.0,1.1,0.0,0.1,0.0,5.3,3.8,8.0,6.9,6.3,4.7
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.0,0.0,2.0,2.1,1.5,1.5,0.3
inapp,3.0,2.9,2.1,2.1,3.0,2.8,3.0,3.8,3.4,5.6,4.0,1.2,1.3,0.5,3.1,1.8,2.4,2.6

**part_2: до 5 века включительно, 6–17, 17–18, 18, 18–19, 19, 19–20, 20, 20–21, другое**

| до 5 века включительно | 6–17 | 17–18 | 18 | 18–19 | 19 | 19–20 | 20 | 20–21 | 21 | другое |
|:----------------------|:-----|:------|:---|:------|:---|:------|:---|:------|:---|:-------|
| -5, -6, -8–7, -7–5, -9–8 | 6, 11, 11–17, 12, 12–13, 12–14, 13, 13–16, 14, 14–15, 15, 16, 16–17, 17 | 17–18 | 18 | 18–19 | 19 | 19–20 | 20 | 20–21 | 21 | inapp, 19–21 |

In [ ]:
#part_2
res_df_6_2 = pd.DataFrame(columns=['source_year',  'до 5 века включительно', '6–17', '17–18', '18',
                                   '18–19', '19', '19–20', '20', '20–21', '21', 'другое'])

categories_6_2 = {
    'до 5 века включительно': ['-5', '-6', '-8–7', '-7–5', '-9–8'],
    '6–17': ['6', '11', '12', '12–13', '12–14', '13', '13–16', '14', '14–15', '15', '16', '16–17', '17', '11–17'],
    '17–18': ['17–18'],
    '18': ['18'],
    '18–19': ['18–19'],
    '19': ['19'],
    '19–20': ['19–20'],
    '20': ['20'],
    '20–21': ['20–21'],
    '21': ['21'],
    'другое': ['inapp', '19–21']
}

for i in dictionary_programs:
    count_dict = {category: 0 for category in categories_6_2}

    for index, row in df.iterrows():
        if row['source_year'] == i:
            for category, centuries in categories_6_2.items():
                   if row['century'] in centuries:
                    count_dict[category] += 1
                    break  # После нахождения соответствующей категории, можно выйти из цикла


    res_df_6_2.loc[len(res_df_6_2)] = [i] + [count_dict[category] for category in categories_6_2]
res_df_6_2.set_index('source_year').T

source_year,1974–1975,1979–1980,1982–1983,1984–1985,1986–1987,1988–1989,1991,1992,1994,1995,1997,1998–1999,2004,2015–2016,2021–2022,2022–2023,2023–2024,2024–2025
до 5 века включительно,1,1,1,1,1,1,3,2,2,4,0,1,3,2,2,2,2,2
6–17,11,11,12,12,12,12,17,25,15,13,14,10,8,19,15,15,15,16
17–18,0,0,0,0,0,0,0,0,0,1,1,0,1,1,0,0,0,0
18,10,8,10,10,9,9,18,38,18,15,20,12,6,12,8,8,8,10
18–19,3,5,10,10,10,10,4,8,2,0,4,1,9,4,3,3,4,5
19,213,211,329,326,338,336,370,422,316,375,478,224,237,346,179,233,232,232
19–20,13,15,28,28,31,29,21,5,13,6,10,6,43,34,9,17,17,15
20,297,314,558,534,559,569,674,424,480,345,570,152,280,538,120,322,321,293
20–21,4,4,6,6,6,6,14,10,10,0,1,0,33,39,31,46,42,29
21,0,0,0,0,0,0,0,0,0,0,1,0,0,20,8,10,10,2
другое,17,17,20,20,30,28,35,37,30,45,46,5,8,7,12,15,16,16

In [ ]:
#part_2
#percentages

res_df_6_2_percentages = pd.DataFrame(columns=['source_year',  'до 5 века включительно', '6–17', '17–18', '18',
                                   '18–19', '19', '19–20', '20', '20–21', '21', 'другое'])

categories_6_2 = {
    'до 5 века включительно': ['-5', '-6', '-8–7', '-7–5', '-9–8'],
    '6–17': ['6', '11', '12', '12–13', '12–14', '13', '13–16', '14', '14–15', '15', '16', '16–17', '17', '11–17'],
    '17–18': ['17–18'],
    '18': ['18'],
    '18–19': ['18–19'],
    '19': ['19'],
    '19–20': ['19–20'],
    '20': ['20'],
    '20–21': ['20–21'],
    '21': ['21'],
    'другое': ['inapp', '19–21']
}
for i in dictionary_programs:
    count_dict = {category: 0 for category in categories_6_2}

    for index, row in df.iterrows():
        if row['source_year'] == i:
            for category, centuries in categories_6_2.items():
                   if row['century'] in centuries:
                    count_dict[category] += 1
                    break  # После нахождения соответствующей категории, можно выйти из цикла

    total_count = sum(count_dict.values())

    # Если total_count не равен 0, считаем проценты, иначе ставим 0
    percentages_6_2 = [round(count / total_count * 100, 1) if total_count > 0 else 0 for count in count_dict.values()]


    res_df_6_2_percentages.loc[len(res_df_6_2_percentages)] = [i] + percentages_6_2
res_df_6_2_percentages.set_index('source_year').T

source_year,1974–1975,1979–1980,1982–1983,1984–1985,1986–1987,1988–1989,1991,1992,1994,1995,1997,1998–1999,2004,2015–2016,2021–2022,2022–2023,2023–2024,2024–2025
до 5 века включительно,0.2,0.2,0.1,0.1,0.1,0.1,0.3,0.2,0.2,0.5,0.0,0.2,0.5,0.2,0.5,0.3,0.3,0.3
6–17,1.9,1.9,1.2,1.3,1.2,1.2,1.5,2.6,1.7,1.6,1.2,2.4,1.3,1.9,3.9,2.2,2.2,2.6
17–18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.1,0.0,0.2,0.1,0.0,0.0,0.0,0.0
18,1.8,1.4,1.0,1.1,0.9,0.9,1.6,3.9,2.0,1.9,1.7,2.9,1.0,1.2,2.1,1.2,1.2,1.6
18–19,0.5,0.9,1.0,1.1,1.0,1.0,0.3,0.8,0.2,0.0,0.3,0.2,1.4,0.4,0.8,0.4,0.6,0.8
19,37.4,36.0,33.8,34.4,33.9,33.6,32.0,43.5,35.7,46.6,41.7,54.5,37.7,33.9,46.3,34.7,34.8,37.4
19–20,2.3,2.6,2.9,3.0,3.1,2.9,1.8,0.5,1.5,0.7,0.9,1.5,6.8,3.3,2.3,2.5,2.5,2.4
20,52.2,53.6,57.3,56.4,56.1,56.9,58.3,43.7,54.2,42.9,49.8,37.0,44.6,52.6,31.0,48.0,48.1,47.3
20–21,0.7,0.7,0.6,0.6,0.6,0.6,1.2,1.0,1.1,0.0,0.1,0.0,5.3,3.8,8.0,6.9,6.3,4.7
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.0,0.0,2.0,2.1,1.5,1.5,0.3
другое,3.0,2.9,2.1,2.1,3.0,2.8,3.0,3.8,3.4,5.6,4.0,1.2,1.3,0.7,3.1,2.2,2.4,2.6

**7. Индивидуальные траектории авторов (таблица автор/годы с отмеченной на их пересечении представленностью в программах).**

| |1974/75|1975/76|
|--------|-------|-------|
|автор 1 |     1 |      1|
|автор 2 |      1|      0|
|автор 3 |      0|      1|

pd.crosstab() — это функция Pandas, которая создает кросс-таблицу (сводную таблицу) по двум (или более) столбцам DataFrame, подсчитывая частоту встречаемости значений.

*table = pd.crosstab(df['Author'], df['Year'])*

По умолчанию crosstab() считает количество, но можно преобразовать в бинарный формат:

*table = pd.crosstab(df['Author'], df['Year']).astype(bool).astype(int)*

In [ ]:
# Это с количеством авторов в программах
res_df_7 = pd.crosstab(df['author'], df['source_year'])
res_df_7

source_year,1974–1975,1979–1980,1982–1983,1984–1985,1986–1987,1988–1989,1991,1992,1994,1995,1997,1998–1999,2004,2015–2016,2021–2022,2022–2023,2023–2024,2024–2025
author,,,,,,,,,,,,,,,,,,
Абашидзе И. В.,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0
Абгарян Н. Ю.,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,0
Абрамов Ф. А.,1,1,1,1,1,1,8,5,7,1,3,1,3,1,1,4,4,2
"Абрамова Н. С., Вебер Г. С. и Тишина З. В.",0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
Аввакум,0,0,0,0,0,0,2,0,1,0,1,0,0,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Яковлев Ю. Я.,0,0,4,4,4,4,1,0,1,0,0,0,0,0,2,2,2,2
Ян В. Г.,0,0,0,0,0,0,2,0,2,0,0,0,0,0,0,0,0,0
Яновский Ю. И.,1,1,1,1,1,1,1,0,1,0,0,0,0,0,0,0,0,0
Янссон Т. М.,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0
Яшин А. Я.,0,0,0,0,0,0,4,0,4,0,0,0,0,0,0,0,0,0

In [ ]:
res_df_7 = pd.crosstab(df['author'], df['source_year']).astype(bool).astype(int)
res_df_7

source_year,1974–1975,1979–1980,1982–1983,1984–1985,1986–1987,1988–1989,1991,1992,1994,1995,1997,1998–1999,2004,2015–2016,2021–2022,2022–2023,2023–2024,2024–2025
author,,,,,,,,,,,,,,,,,,
Абашидзе И. В.,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0
Абгарян Н. Ю.,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,0
Абрамов Ф. А.,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"Абрамова Н. С., Вебер Г. С. и Тишина З. В.",0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
Аввакум,0,0,0,0,0,0,1,0,1,0,1,0,0,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Яковлев Ю. Я.,0,0,1,1,1,1,1,0,1,0,0,0,0,0,1,1,1,1
Ян В. Г.,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0
Яновский Ю. И.,1,1,1,1,1,1,1,0,1,0,0,0,0,0,0,0,0,0
Янссон Т. М.,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0
Яшин А. Я.,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0